.landing-page {
  background-image: url("../../assets/Images/homepage.jpg");
  border-top-right-radius: var(--radius-4xl);
  border-bottom-left-radius: var(--radius-4xl);
}

.how-to-title {
  font-size: var(--text-2xl);
  color: var(--color-gray-600);
}

.how-to-subtitle {
  font-size: var(--text-lg);
}

.how-to-text {
  font-size: var(--text-base);
}
