@import "tailwindcss";

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald.ttf") format("truetype");
}

@font-face {
  font-family: "GoogleSans";
  src: url("./assets/fonts/GoogleSans.ttf") format("truetype");
}

@font-face {
  font-family: "GoogleSansItalic";
  src: url("./assets/fonts/GoogleSans-Italic.ttf") format("truetype");
}

:root {
  font-family: "GoogleSans", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
